[submodule "Clean Filter for GNU Bash Scripts"]
	path = Clean Filter for GNU Bash Scripts
	url = https://github.com/Lin-Buo-Ren/Clean-Filter-for-GNU-Bash-Scripts
[submodule "Utilities for Travis CI"]
	path = Utilities for Travis CI
	url = http://github.com/Lin-Buo-Ren/Utilities-for-Travis-CI
